.benefits {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.benefits__header {
  @include main_font_index($color:$black, $font-size: 18px, $line-height: 26px, $font-weight: bold);
  width: 260px;
  margin-top: 32px;
  margin-left: 27px;
  text-align: center;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    @include main_font_index($color:$black, $font-size: 21px, $line-height: 26px, $font-weight: bold);
    width: 440px;
    margin: 44px auto 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 55px;
  }
}

.benefits__description {
  @include main_font_index($font-size: 14px, $line-height: 26px);
  width: 260px;
  margin: 20px auto 11px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 485px;
    margin: 31px auto 53px;
  }

  @media (min-width: $desktop-width) {
    width: 650px;
    margin-bottom: 42px;
  }
}
