.benefits__header {
  @include main_font_index($color:$black, $font-size: 18px, $line-height: 26px, $font-weight: bold);
  width: 260px;
  margin: 20px auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include main_font_index($color:$black, $font-size: 21px, $line-height: 26px, $font-weight: bold);
    width: 440px;
    margin: 40px auto;
  }
}

.benefits__description {
  @include main_font_index($font-size: 14px, $line-height: 26px);
  width: 260px;
  margin: 20px auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 485px;
    margin: 40px auto;
  }
}
