.feedback-form {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.feedback-form__fieldset:nth-of-type(3) {
  @media (min-width: $tablet-width) {
    width: 280px;
    order: -1;
  }

  @media (min-width: $desktop-width) {
    width: 440px;
  }
}

.feedback-form__fieldset:nth-of-type(4) {
  @media (min-width: $tablet-width) {
    width: 480px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
    margin: 0 auto;
  }

  .feedback-form__fieldset-title {
    @media (min-width: $tablet-width) {
      left: 100px;
    }

    @media (min-width: $desktop-width) {
      left: 200px;
    }
  }
}

.feedback-form__fieldset {
  position: relative;
  border: 0;
  margin: 0;
  border-top: 1px solid #e5e5e5;
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.feedback-form__fieldset-title {
  @include main_font_index($color:$black, $font-size: 18px, $line-height: 26px, $font-weight: bold);
  position: absolute;
  text-align: center;
  top: 20px;
  left: 0;
  margin: 0;
  padding: 0;
  width: 320px;
}

.feedback-form__fieldset:nth-of-type(1) {
  @media (min-width: $tablet-width) {
    width: 280px;
  }

  @media (min-width: $desktop-width) {
    width: 440px;
  }

  .feedback-form__input-text::placeholder {
    @include main_font_index($color: $black, $font-size: 18px, $line-height: 26px, $font-weight: bold, $text-transform: none);
  }

  .feedback-form__input-text {
    height: 58px;
    border: none;
    outline: none;
    box-sizing: border-box;
    background-color: #f2f2f2;
    margin-bottom: 20px;
    padding: 20px;
  }

  .feedback-form__input-text:nth-of-type(1) {
    width: 230px;

    @media (min-width: $tablet-width) {
      width: 216px;
    }

    @media (min-width: $desktop-width) {
      width: 350px;
    }
  }

  .feedback-form__input-text:nth-of-type(2) {
    width: 192px;

    @media (min-width: $tablet-width) {
      width: 178px;
    }

    @media (min-width: $desktop-width) {
      width: 312px;
    }
  }

  .feedback-form__input-text:nth-of-type(3) {
    width: 194px;

    @media (min-width: $tablet-width) {
      width: 180px;
    }

    @media (min-width: $desktop-width) {
      width: 314px;
    }
  }
}

.feedback-form__label-input-text {
  @include main_font_index($font-size: 14px, $line-height: 26px);
}

.feedback-form__fieldset:nth-of-type(2) {
  @media (min-width: $tablet-width) {
    width: 648px;
    height: 206px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 960px;
    height: 206px;
  }

  .feedback-form__fieldset-title {
    @media (min-width: $tablet-width) {
      left: 200px;
    }
  }

  .feedback-form__label-input-text {
    @media (min-width: $desktop-width) {
      width: 170px;
    }
  }

  .feedback-form__input-text::placeholder {
    @include main_font_index($color: $black, $font-size: 18px, $line-height: 26px, $font-weight: bold, $text-transform: none);
  }

  .feedback-form__input-text {
    position: relative;
    width: 280px;
    height: 58px;
    border: none;
    outline: none;
    box-sizing: border-box;
    background-color: #f2f2f2;
    padding: 20px;

    @media (min-width: $tablet-width) {
      width: 648px;
    }

    @media (min-width: $desktop-width) {
      width: 257px;
    }
  }

  .feedback-form__icon-phone,
  .feedback-form__icon-email {
    position: relative;
    display: block;
  }

  .feedback-form__icon-phone::after {
    position: absolute;
    content: "";
    width: 58px;
    height: 58px;
    top: -58px;
    left: 222px;
    z-index: 10;
    background: #e6e6e6 url("../img/icon-phone.svg") no-repeat center center;

    @media (min-width: $tablet-width) {
      left: 590px;
    }

    @media (min-width: $desktop-width) {
      top: 0;
      left: -58px;
    }
  }

  .feedback-form__icon-email::after {
    position: absolute;
    content: "";
    width: 58px;
    height: 58px;
    top: -58px;
    left: 222px;
    z-index: 10;
    background: #e6e6e6 url("../img/icon-mail.svg") no-repeat center center;

    @media (min-width: $tablet-width) {
      left: 590px;
    }

    @media (min-width: $desktop-width) {
      top: 0;
      left: -58px;
    }
  }
}

.feedback-form__fieldset:nth-of-type(5) {
  .feedback-form__fieldset-title {
    @media (min-width: $tablet-width) {
      left: 200px;
    }
  }
}

.feedback-form__textarea {
  border: 0;
  outline: 0;
  resize: none;
  width: 279px;
  height: 160px;
  background-color: #f2f2f2;
  box-sizing: border-box;
  padding: 15px 20px;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    width: 648px;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
  }
}

.feedback-form__textarea::placeholder {
  @include main_font_index($color:$black, $font-size: 18px, $line-height: 26px, $font-weight: bold, $text-transform: none);
}

.feedback-form__submit {
  @include main_font_index($color:$white, $font-size: 21px, $line-height: 26px, $font-weight: bold);
  border: none;
  outline: none;
  width: 280px;
  height: 58px;
  background-color: $blue;
  margin-left: 20px;
}
