.intro {
  position: relative;
  overflow: hidden;
  min-width: 320px;
  min-height: 390px;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat -220px 0;
}

.intro::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 160px solid $white;
  border-top-width: 25px;
  border-top-color: transparent;
  border-bottom-width: 0;
  left: 0;
  bottom: 0;
}

.intro__image {
  position: absolute;
  width: 280px;
  left: 20px;
  top: 18px;
}
