.popup-window {
  box-sizing: border-box;
  background-color: $white;
}


.popup-window__header {
  @include main_font_index($color: $black, $font-size: 18px, $line-height: 26px, $font-weight: bold);
  text-align: center;

  @media (min-width: $tablet-width) {
    @include main_font_index($color: $black, $font-size: 30px, $line-height: 40px, $font-weight: bold);
  }
}

.popup-window__description {
  @include main_font_index($font-size: 14px, $line-height: 24px);
  text-align: center;
}

.popup-window__button {
  @include main_font_index($color:$white, $font-size: 18px, $line-height: 26px, $font-weight: bold);
  background-color: $blue;
  display: block;
}
