.search-hotel__header {
  @include main_font_index($color: $black, $font-size: 21px, $line-height: 26px, $font-weight: bold);
  text-align: center;
  margin: 0;
  padding-top: 35px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    @include main_font_index($color: $black, $font-size: 30px, $line-height: 26px, $font-weight: bold);
  }
}

.search-hotel__description {
  @include main_font_index($color: $gray, $font-size: 14px, $line-height: 24px);
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0 auto;
    width: 440px;
  }
}

.search-hotel__find {
  @include main_font_index($color: $white, $font-size: 21px, $line-height: 26px, $font-weight: bold);
  display: flex;
  width: 280px;
  height: 58px;
  background-color: $blue;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 50px auto;

  @media (min-width: $tablet-width) {
    width: 458px;
  }
}

.search-hotel__link-map {
  display: block;
}

.search-hotel__map {
  width: 320px;
  height: 350px;
  background: url("../img/bg-map-mobile@1x.jpg") no-repeat 0 0;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 350px;
    background: url("../img/bg-map-tablet@1x.jpg") no-repeat 0 0;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    height: 350px;
    background: url("../img/bg-map-desktop@1x.jpg") no-repeat 0 0;
  }
}
