.video {
  border-top: 1px solid #e5e5e5;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    border-top: none;
    padding-bottom: 3px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 5px;
  }
}

.video__header {
  @include main_font_index($color: $black, $font-size: 18px, $line-height: 26px, $font-weight: bold);
  text-align: center;
  margin-top: 32px;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    @include main_font_index($color: $black, $font-size: 30px, $line-height: 26px, $font-weight: bold);
    margin-top: 57px;
    margin-bottom: 33px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 61px;
  }
}

.video__description {
  @include main_font_index($font-size: 14px, $line-height: 24px);
  text-align: center;
  padding-left: 30px;
  padding-right: 25px;
  padding-bottom: 34px;

  @media (min-width: $tablet-width) {
    width: 450px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 80px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 77px;
  }
}

.video__container {
  position: relative;
}

.video__controls {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 280px;
  height: 66px;
  margin: 0 auto;
  background-color: #f2f2f2;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 648px;
    height: 93px;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
  }

  @media (min-width: $desktop-width) {
    width: 800px;
    left: 200px;
  }
}

.video__presentation {
  width: 320px;
  height: 201px;
  background: url("../img/video-mobile@1x.jpg") no-repeat 0 0;

  @media (min-width: $tablet-width) {
    width: 648px;
    height: 499px;
    background: url("../img/video-tablet@1x.jpg") no-repeat 0 0;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
    height: 500px;
    background: url("../img/video-desktop@1x.jpg") no-repeat 0 0;
    margin: 0 auto;
  }
}


.video__controls-seek-container {
  position: absolute;
  top: -45px;
  width: 280px;
  height: 45px;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    position: static;
    background: none;
    width: 400px;
  }

  @media (min-width: $desktop-width) {
    width: 560px;
  }
}

.video__controls-seek {
  /*  -webkit-appearance: none;
    -moz-appearance: none;
    */
  width: 235px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  outline: none;
  border: none;

  @media (min-width: $tablet-width) {
    width: 389px;
  }

  @media (min-width: $desktop-width) {
    width: 545px;
  }
}

.video__controls-seek::-webkit-slider-thumb {
  /*-webkit-appearance: none;  */
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: $white;
  outline: none;
  border: none;
}

.video__controls-seek::-moz-range-thumb {
  /* -moz-appearance: none; */
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: $white;
  outline: none;
  border: none;
}

.video__controls-replay {
  width: 20px;
  height: 20px;
  background: url("../img/icon-video-replay.svg") no-repeat 0 0;
  margin-left: 25px;
  order: -1;

  @media (min-width: $tablet-width) {
    background-color: $white;
    background-image: none;
    mask-image: url("../img/icon-video-replay.svg");
    mask-repeat: no-repeat;
    mask-position: 0 0;
    margin-left: 35px;
    margin-right: 35px;
  }
}

.video__controls-subtitles {
  width: 32px;
  height: 20px;
  background: url("../img/icon-video-subtitles.svg") no-repeat 0 0;
  margin-left: 130px;


  @media (min-width: $tablet-width) {
    background-color: $white;
    background-image: none;
    mask-image: url("../img/icon-video-subtitles.svg");
    mask-repeat: no-repeat;
    mask-position: 0 0;
    margin-left: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 24px;
  }
}

.video__controls-fullscreen {
  width: 32px;
  height: 20px;
  background: url("../img/icon-video-fullscreen.svg") no-repeat 0 0;
  margin-left: 30px;


  @media (min-width: $tablet-width) {
    background-color: $white;
    background-image: none;
    mask-image: url("../img/icon-video-fullscreen.svg");
    mask-repeat: no-repeat;
    mask-position: 0 0;
  }
}
