.video__header {
  @include main_font_index($color:$black, $font-size: 18px, $line-height: 26px, $font-weight: bold);
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.video__description {
  @include main_font_index($font-size: 14px, $line-height: 24px);
  text-align: center;
  padding-left: 40px;
  padding-right: 25px;
  padding-bottom: 40px;
}

.video__controls-replay {
  width: 20px;
  height: 20px;
  background: url("../img/icon-video-replay.svg") no-repeat 0 0;
}

.video__controls-subtitles {
  width: 32px;
  height: 20px;
  background: url("../img/icon-video-subtitles.svg") no-repeat 0 0;
}

.video__controls-fullscreen {
  width: 32px;
  height: 20px;
  background: url("../img/icon-video-fullscreen.svg") no-repeat 0 0;
}
